@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chela+One&family=Roboto:ital,wght@1,300&display=swap');

  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.landing {
  background: linear-gradient(180deg,#444343 0%,rgba(0,0,0,0) 106.53%),url('./assets/punakha_dzong.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

#image-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/ta_dzong.jpeg');
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

#vision-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.flight-info {
  background: url('./assets/route_map.jpeg');
}

#cultural-tours {
  background: url('./assets/cultural_tours.jpeg');
  background-size: cover;
  background-position: bottom;
}

#trekking-tours {
  background: url('./assets/trekking_new.jpeg');
  background-size: cover;
  background-position: center;
}

#adventure-packages {
  background: url('./assets/trekking_tours.jpeg');
  background-size: cover;
  background-position: center;
}

#honeymoon-tours {
  background: url('./assets/honeymoon_tours.jpeg');
  background-size: cover;
  background-position: center;
}

#special-packages {
  background: url('./assets/special_packages.jpeg');
  background-size: cover;
  background-position: center;
}

#rafting {
  background: url('./assets/rafting_and_kayaking_main.jpeg');
  background-size: cover;
  background-position: center;
}

#biking {
  background: url('./assets/biking_main.jpeg');
  background-size: cover;
  background-position: left;
}

#fishing {
  background: url('./assets/fishing_main.jpeg');
  background-size: cover;
  background-position: left;
}

#cycling {
  background: url('./assets/cycling_main.jpeg');
  background-size: cover;
  background-position: top;
}

@media only screen and (min-width: 768px) {
  #vision-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #vision-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }
}

#honeymoon-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/honeymoon_cover.jpeg');
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #honeymoon-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: url('./assets/honeymoon_cover.jpeg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #honeymoon-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./assets/honeymoon_cover.jpeg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }
}

#cultural-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/main_cultural.jpeg');
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #cultural-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: url('./assets/main_cultural.jpeg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #cultural-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./assets/main_cultural.jpeg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }
}

#adventure-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/adventure_description.jpeg');
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #adventure-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: url('./assets/adventure_description.jpeg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #adventure-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./assets/adventure_description.jpeg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }
}

#rafting-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/rafting_container.jpeg');
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #rafting-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: url('./assets/rafting_container.jpeg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #rafting-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./assets/rafting_container.jpeg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }
}

#biking-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/biking_container.jpeg');
  background-size: cover;
  background-position: right;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #biking-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: url('./assets/biking_container.jpeg');
    background-size: cover;
    background-position: right;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #biking-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./assets/biking_container.jpeg');
    background-size: cover;
    background-position: right;
    overflow-y: auto;
  }
}

#fishing-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/fishing_main.jpeg');
  background-size: cover;
  background-position: right;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #fishing-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: url('./assets/fishing_main.jpeg');
    background-size: cover;
    background-position: right;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #fishing-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./assets/fishing_main.jpeg');
    background-size: cover;
    background-position: right;
    overflow-y: auto;
  }
}

#cycling-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/cycling_container.webp');
  background-size: cover;
  background-position: right;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #cycling-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: url('./assets/cycling_container.webp');
    background-size: cover;
    background-position: right;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #cycling-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./assets/cycling_container.webp');
    background-size: cover;
    background-position: right;
    overflow-y: auto;
  }
}